/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 avr. 2020, 18:04:36
    Author     : stag
*/

#titreAdmin{
    text-align: center;
}
#globalAdmin{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around ;   
    text-align: center;

}

