/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 avr. 2020, 18:19:15
    Author     : bst
*/

/*------- Container TOP -----------*/
#container-top-recipe{
    display: flex;
    flex-direction: row;
    margin-top: 2em;

}
#container-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#main-recipeTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#recipe-Title{
    font-size: 2em;
}
#container-difficulty{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.difficulty{
    margin: 0.1em 2em;
}
#infosRecipe{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#number-note{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*------- Container BOTTOM -----------*/
#container-bottom-recipe{
    display: flex;
    flex-direction: row;
    margin: 4em auto;
}
#container-comments-recipe{
    margin-left: 2em;
}
#comments-block{
    margin-top: 2em;
    border: 2px solid black;
}
#preparation-recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
}